<section class="home-slider owl-carousel">
    <div class="slider-item bread-item" style="background-image: url('/images/bg_1.jpg');" data-stellar-background-ratio="0.5">
      <div class="overlay"></div>
      <div class="container" data-scrollax-parent="true">
        <div class="row slider-text align-items-end">
          <div class="col-md-7 col-sm-12 ftco-animate mb-5">
            <h1 class="mb-3" data-scrollax=" properties: { translateY: '70%', opacity: .9}">Mi Información</h1>
          </div>
        </div>
      </div>
    </div>
  </section>
  <br>
<!DOCTYPE html>
<html lang="en">
<body>
    <div class="container">
<div>
    <h4>Paciente <%= user.nombre_usuario %>  <%= user.apellidoP_usuario %></h4>
    <br>
    <hr />
    <form id="showUser" name="showUser" action="/informacion:id" method="get">
    <div class="form-group">
        <div class="form-group">
            <strong>RUN:</strong>
        </div>
        <div class="form-control">
            <%= user.run_usuario %>
        </div>
    
        <div class="form-group">
            <strong>Nombre:</strong>
        </div>

        <div class="form-control">
            <%= user.nombre_usuario %>
        </div>

        <div class="form-group">
            <strong>A. Paterno:</strong>
        </div>

        <div class="form-control">
            <%= user.apellidoP_usuario %>
        </div>

        <div class="form-group">
            <strong>A. Materno:</strong>
        </div>

        <div class="form-control">
            <%= user.apellidoM_usuario %>
        </div>

        <div class="form-group">
            <strong>Fecha de Nacimiento:</strong>
        </div>

        <div class="form-control">
            <%= user.fecha_nac_usuario %>
        </div>

        <div class="form-group">
            <strong>Usuario:</strong>
        </div>

        <div class="form-control">
            <%= user.usuario %>
        </div>

        <div class="form-group">
            <strong>Contraseña:</strong>
        </div>

        <div class="form-control">
            <%= user.password_usuario %>
        </div>

        <div class="form-group">
            <strong>Dirección:</strong>
        </div>

        <div class="form-control">
            <%= user.direccion_usuario %>
        </div>

        <div class="form-group">
            <strong>Comuna:</strong>
        </div>

        <div class="form-control">
            <%= user.comuna_usuario  %>
        </div>

        <div class="form-group">
            <strong>Email:</strong>
        </div>

        <div class="form-control">
            <%= user.email_usuario %>
        </div>

        <div class="form-group">
            <strong>Fono:</strong>
        </div>

        <div class="form-control">
            <%= user.fono_usuario %>
        </div>

        <div class="form-group">
            <strong>RUN Persona a Cargo:</strong>
        </div>

        <div class="form-control">
            <%= user.persona_cargo %>
        </div>
        
    </div>
</div>
<br>
<p>
    <input onclick="document.location.href='/modificar/<%= user.run_usuario %>'" type="button" value="Modificar" class="btn btn-outline-success" />
</p>
</form>
</div>
<br>
</body>
</html>