<section class="home-slider owl-carousel">
    <div class="slider-item bread-item" style="background-image: url('/images/bg_1.jpg');"
        data-stellar-background-ratio="0.5">
        <div class="overlay"></div>
        <div class="container" data-scrollax-parent="true">
            <div class="row slider-text align-items-end">
                <div class="col-md-7 col-sm-12 ftco-animate mb-5">
                    <h1 class="mb-3" data-scrollax=" properties: { translateY: '70%', opacity: .9}">Modificar Datos</h1>
                </div>
            </div>
        </div>
    </div>
</section>

<section>
  <input type="hidden" id="iduser" name="iduser" value="<%= users.run_usuario %>">
    <div class="ftco-section container justify-content-center">
        <h2>Usuario <%= users.nombre_usuario %>
                <%= users.apellidoP_usuario %>
        </h2>
        <br>
        <div class="form-horizontal">
            
            <hr />
            <form id="userEdit" name="userEdit" method="POST">
                <div class="form-group">
                    <label for="nombre_usuario" class="control-label col-md-2"> Nombre:</label>
                    <input type="text" id="nombre_usuario" name="nombre_usuario" class="form-control col-md-4"
                        placeholder="RUN" value="<%= users.nombre_usuario %>">
                </div>

                <div class="form-group">
                    <label for="apellidoP_usuario" class="control-label col-md-2"> A. Paterno:</label>
                    <input type="text" id="apellidoP_usuario" name="apellidoP_usuario" class="form-control col-md-4"
                        placeholder="RUN" value="<%= users.apellidoP_usuario %>">
                </div>

                <div class="form-group">
                    <label for="apellidoM_usuario" class="control-label col-md-2"> A. Materno</label>
                    <input type="text" id="apellidoM_usuario" name="apellidoM_usuario" class="form-control col-md-4"
                        placeholder="RUN" value="<%= users.apellidoM_usuario %>">
                </div>

                <div class="form-group">
                    <label for="fecha_nac_usuario" class="control-label col-md-2"> Fecha Nacimiento:</label>
                    <input type="text" id="fecha_nac_usuario" name="fecha_nac_usuario" class="form-control col-md-4"
                        placeholder="RUN" value="<%= users.fecha_nac_usuario %>">
                </div>

                <div class="form-group">
                    <label for="usuario" class="control-label col-md-2"> Usuario:</label>
                    <input type="text" id="usuario" name="usuario" class="form-control col-md-4" placeholder="RUN"
                        value="<%= users.usuario %>">
                </div>

                <div class="form-group">
                    <label for="password_usuario" class="control-label col-md-2"> Contraseña:</label>
                    <input type="text" id="password_usuario" name="password_usuario" class="form-control col-md-4"
                        placeholder="RUN" value="<%= users.password_usuario %>">
                </div>

                <div class="form-group">
                    <label for="direccion_usuario" class="control-label col-md-2"> Dirección:</label>
                    <input type="text" id="direccion_usuario" name="direccion_usuario" class="form-control col-md-4"
                        placeholder="RUN" value="<%= users.direccion_usuario %>">
                </div>

                <div>
                  <label for="region_usuario" class="control-label col-md-2"> Region:</label>
                  <select name="selectRegion"  id="selectRegion" class="form-control col-md-4">
                    <% regiones.forEach((region) => { %>
                    <option <%= users.region_usuario === region.idregion ? 'selected' : '' %> value="<%= region.idregion %>" >
                      <%= region.nombre_region %>
                    </option>
                    <%})%>
                </select>
                </div>

                <div>
                  <label for="comuna_usuario" class="control-label col-md-2"> Comuna:</label>
                  <select name="comunasSelect"  id="comunasSelect" class="form-control col-md-4">
                    <% comunas.forEach((comuna) => { %>
                    <option <%= users.comuna_usuario === comuna.id_comuna ? 'selected' : '' %> value="<%= comuna.id_comuna %>" >
                      <%= comuna.nombre_comuna %>
                    </option>
                    <%})%>
                </select>                  
                </div>

                <div class="form-group">
                    <label for="email_usuario" class="control-label col-md-2"> Email:</label>
                    <input type="text" id="email_usuario" name="email_usuario" class="form-control col-md-4"
                        placeholder="RUN" value="<%= users.email_usuario %>">
                </div>

                <div class="form-group">
                    <label for="fono_usuario" class="control-label col-md-2"> Fono:</label>
                    <input type="text" id="fono_usuario" name="fono_usuario" class="form-control col-md-4"
                        placeholder="RUN" value="<%= users.fono_usuario %>">
                </div>

                <div>
                  <label for="password_usuario" class="control-label col-md-2"> Tipo de Usuario:</label>
                  <select name="idTipo_usuario"  id="idTipo_usuario" class="form-control col-md-4">
                    <% tipoUsuario.forEach((tipo) => { %>
                      <option <%= users.idTipo_usuario === tipo.idTipo_usuario ? 'selected' : '' %> value="<%= tipo.idTipo_usuario %>" >
                        <%= tipo.nombre_usuario %>
                      </option>
                    <%})%>
                </select>                  
                </div>

                <div class="form-group">
                    <label for="idCliente_usuario" class="control-label col-md-2"> Id Cliente Usuario:</label>
                    <input type="text" id="idCliente_usuario" name="idCliente_usuario" class="form-control col-md-4"
                        placeholder="RUN" value="<%= users.idCliente_usuario %>">
                </div>

                <div class="form-group">
                    <label for="persona_cargo" class="control-label col-md-2"> Run Persona Cargo:</label>
                    <input type="text" id="persona_cargo" name="persona_cargo" class="form-control col-md-4"
                        placeholder="RUN" value="<%= users.persona_cargo %>">
                </div>

                <div class="form-group">
                    <label for="status_usuario" class="control-label col-md-2"> Status:</label>
                    <input type="text" id="status_usuario" name="status_usuario" class="form-control col-md-4"
                        placeholder="RUN" value="<%= users.status_usuario %>">
                </div>
                <br>
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="Modificar" class="btn btn-success" />
                    </div>
                </div>
        </div>
        </form>
    </div>
  </section>

  <script>

    const serialize_form = (form) =>
      JSON.stringify(
        Array.from(new FormData(form).entries()).reduce(
          (m, [key, value]) => Object.assign(m, { [key]: value }),
          {}
        )
      );

    $("#selectRegion").change(function () {
      var regionSelected = $("#selectRegion").find(":selected").val();
      console.log(regionSelected)
      $.ajax({
        url: `/regiones/${regionSelected}/comunas`,
        processData: false,
        contentType: false,
        type: "get",
        success: function (comunas) {
          $('#comunasSelect')
            .find('option')
            .remove()
            .end()
          $("#comunasSelect").removeAttr('disabled');
          comunas.data.forEach((comuna) => {
            $("#comunasSelect").append(`<option value="${comuna.id_comuna}">${comuna.nombre_comuna} </option>`)
          })
        }
      })
    });

    $('#userEdit').submit(async (e) => {
			event.preventDefault(e)
      const reservaHoraDatos = $("form").serialize()
      const userId = $("#iduser").val();
      $.ajax({
				url: `/editar/${userId}`,
				processData: false,
				contentType: false,
				type: 'PUT',
				contentType: "application/x-www-form-urlencoded;charset=ISO-8859-15",
      	dataType   : "json",				
				data: reservaHoraDatos,
				success: function(response){
            if (response.error === false) {
              $.notify('Usuario actualizado', 'success')
            }
				},
        error: function(error) {
          console.log('ERROR STATUS', error.status)
          $.notify('Problemas internos', 'error')
        }
			});	
    })
  </script>