<section class="home-slider owl-carousel">
    <div class="slider-item bread-item" style="background-image: url('/images/bg_1.jpg');" data-stellar-background-ratio="0.5">
      <div class="overlay"></div>
      <div class="container" data-scrollax-parent="true">
        <div class="row slider-text align-items-end">
          <div class="col-md-7 col-sm-12 ftco-animate mb-5">
            <h1 class="mb-3" data-scrollax=" properties: { translateY: '70%', opacity: .9}">Mi Información</h1>
          </div>
        </div>
      </div>
    </div>
  </section>
  <br>
<!DOCTYPE html>
<html lang="en">
<body>
    <div class="container">
<div>
    <input type="hidden" id="iduser" name="iduser" value="<%= user.run_usuario %>">
    <h4>Paciente <%= user.nombre_usuario %>  <%= user.apellidoP_usuario %></h4>
    <br>
    <hr />
    <form id="userEdit" name="userEdit"  method="POST">
    <div class="form-group">
        <div class="form-group">
            <strong>RUN:</strong>
        </div>
        <div class="form-control">
            <%= user.run_usuario %>
        </div>
    
        <div class="form-group">
            <strong>Nombre:</strong>
        </div>

        <div class="form-control">
            <%= user.nombre_usuario %>
        </div>

        <div class="form-group">
            <strong>A. Paterno:</strong>
        </div>

        <div class="form-control">
            <%= user.apellidoP_usuario %>
        </div>

        <div class="form-group">
            <strong>A. Materno:</strong>
        </div>

        <div class="form-control">
            <%= user.apellidoM_usuario %>
        </div>

        <div class="form-group">
            <strong>Fecha de Nacimiento:</strong>
        </div>

        <div class="form-control">
            <%= user.fecha_nac_usuario %>
        </div>

        <div class="form-group">
            <strong>Usuario:</strong>
        </div>

        <div class="form-control">
            <%= user.usuario %>
        </div>

        <div class="form-group">
            <strong>Contraseña:</strong>
        </div>

        <div class="form-control">
            <%= user.password_usuario %>
        </div>

        <div class="form-group">
            <strong>Dirección:</strong>
            <input type="text" id="direccion_usuario" name="direccion_usuario" class="form-control col-md-12"
            placeholder="RUN" value="<%= user.direccion_usuario %>">            
        </div>

        <div>
            <strong>Region:</strong>
            <select name="selectRegion"  id="selectRegion" class="form-control col-md-12">
              <% regiones.forEach((region) => { %>
              <option <%= user.region_usuario === region.idregion ? 'selected' : '' %> value="<%= region.idregion %>" >
                <%= region.nombre_region %>
              </option>
              <%})%>
          </select>
          </div>

          <div>
            <strong>Comuna:</strong>
            <select name="comunasSelect"  id="comunasSelect" class="form-control col-md-12">
              <% comunas.forEach((comuna) => { %>
              <option <%= user.comuna_usuario === comuna.id_comuna ? 'selected' : '' %> value="<%= comuna.id_comuna %>" >
                <%= comuna.nombre_comuna %>
              </option>
              <%})%>
          </select>                  
          </div>

        <div class="form-group">
            <strong>Email:</strong>
            <input type="text" id="email_usuario" name="email_usuario" class="form-control col-md-12" placeholder="RUN" value="<%= user.email_usuario %>">
        </div>

        <div class="form-group">
            <strong>Fono:</strong>
            <input type="text" id="fono_usuario" name="fono_usuario" class="form-control col-md-12"
            placeholder="RUN" value="<%= user.fono_usuario %>">            
        </div>

        <div class="form-group">
            <strong>RUN Persona a Cargo:</strong>
        </div>

        <div class="form-control">
            <%= user.persona_cargo %>
        </div>
        
    </div>
</div>
<br>
<p>
    <input type="submit" value="Modificar" class="btn btn-outline-success" />
</p>
</form>
</div>
<br>
</body>
</html>

<script>
    const serialize_form = (form) =>
      JSON.stringify(
        Array.from(new FormData(form).entries()).reduce(
          (m, [key, value]) => Object.assign(m, { [key]: value }),
          {}
        )
      );

    $("#selectRegion").change(function () {
      var regionSelected = $("#selectRegion").find(":selected").val();
      console.log(regionSelected)
      $.ajax({
        url: `/regiones/${regionSelected}/comunas`,
        processData: false,
        contentType: false,
        type: "get",
        success: function (comunas) {
          $('#comunasSelect')
            .find('option')
            .remove()
            .end()
          $("#comunasSelect").removeAttr('disabled');
          comunas.data.forEach((comuna) => {
            $("#comunasSelect").append(`<option value="${comuna.id_comuna}">${comuna.nombre_comuna} </option>`)
          })
        }
      })
    });

    $('#userEdit').submit(async (e) => {
			event.preventDefault(e)
      const reservaHoraDatos = $("form").serialize()
      const userId = $("#iduser").val();
      $.ajax({
				url: `/editar/${userId}`,
				processData: false,
				contentType: false,
				type: 'PUT',
				contentType: "application/x-www-form-urlencoded;charset=ISO-8859-15",
      	        dataType   : "json",				
				data: reservaHoraDatos,
				success: function(response){
          console.log(response)
          if (response.error === false) {
            $.notify('Usuario actualizado', 'success')
          }
				},
        error: function(error) {
          console.log('ERROR STATUS', error.status)
          $.notify('Problemas internos', 'error')
        }
			});	
    })
  </script>